.container {
    width: 100%;
}
.messages {
    width: 100%;
    height: 78vh;
    overflow-y: auto;
}

.message-thread-header{
    display: flex;
    flex-direction: row;
    border: 1px solid white;
    border-radius: 0.5rem;
    padding: 1rem;
    margin: 24px;
    background-color: #ddddddb8;
}
.message-thread-text{
  flex: 1 0 0;
  align-self: flex-start;
  font-weight: bold;
}
.message-thread-close{
    flex: 8 0 0;
    align-self: flex-end;
    text-align: end;
}

.message-thread-close i{
    padding: 5px;
}

.message-thread-close i:hover{
    color: #08a742;
}
