.filter-container{
    display: grid;
    grid-template-columns: fit-content(30%) fit-content(30%) fit-content(30%);
    border: 1px solid white;
    padding: 5px;
    margin-bottom: 5px;
    width: 100%;
    background-color: #ddddddb8;
}
.filter-container-item{
    margin-top: 10px;
   margin-left: 24px;
   flex: 1 0 0;
   align-self: center;
   display: inline-flex;
}

.search {
    width: 100%;
}

.filter-container-item-icon{
    text-align: center;
}
.filter-container-item p {
    padding: 0;
    text-align: center;
    margin-top: 8px;
    margin-left: 5px;
    cursor: pointer;
}
.filter-selected {
    color: #08a742;
}
.filter-container-item p:hover{
    color: #08a742;
}
