
.messageInputContainer {
    width: 50%;
    height: 70px;
    background-color: #fff;
    position: fixed;
    bottom: 0;
    grid-template-columns: 4fr 1fr;
    display: grid;
}

.input {
    height: 40px;
    margin: 12px;
    font-size: 14px;
}

.button {
    height: 40px;
    margin: 12px;
    width: 10%;
}

.send-message-btn {
    width: 85%;
    height: 50px;
    background-color: #08a742;
    color: #fff;
    font-weight: 600;
    margin:10px;
}