
.messageInputContainer {
    width: 50%;
    height: 70px;
    background-color: #fff;
    position: fixed;
    bottom: 0;
}

.input {
    height: 40px;
    margin: 12px;
    width: 84%;
}

.button {
    height: 40px;
    margin: 12px;
    width: 10%;
}

.send-message-btn {
    width: 90px;
    height: 50px;
    background-color: #08a742;
    color: #fff;
    font-weight: 600;
}