.message-container{
    display: flex;
    flex-direction: row;
    border: 1px solid white;
    border-radius: 0.5rem;
    padding: 1rem;
    margin:24px;
    background-color: white;
}
.avatar{
    flex: 1 0 0;
}
.message-data{
    flex: 8 0 0;
    margin-left: 5px;
    margin-top: -8px;

}
.message-data-user{
    font-weight: bold;
    margin-top: 4px;
    margin-bottom: 4px;
}
.message-data-time{
    font-size: smaller;
    margin-top: 4px;
    margin-bottom: 4px;
}
.message-data-text{
    font-size: large;
    margin-top: 4px;
    margin-bottom: 4px;
}
.message-actions{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    flex-direction: row;
    width: 25%;
}
.message-actions p{
    flex: 1 0 0;
    cursor: pointer;
}

.message-actions-active{
    color: #08a742;
}

.message-actions-hover:hover{
    color: #08a742;
}
