.message-container{
    display: flex;
    flex-direction: row;
    border: 1px solid white;
    border-radius: 0.5rem;
    padding: 1rem;
    margin:12px;
    background-color: white;
}
.avatar{
    flex: 1 0 0;
}
.message-data{
    flex: 8 0 0;
    margin-left: 5px;
    margin-top: -8px;

}
.message-data-user{
    font-weight: bold;
    margin-top: 4px;
    margin-bottom: 4px;
}
.message-data-time{
    font-size: smaller;
    margin-top: 4px;
    margin-bottom: 4px;
}
.message-data-text{
    font-size: large;
    margin-top: 4px;
    margin-bottom: 4px;
}
.message-actions{
    display: flex;
    flex-direction: row;
   width: 100%;
}
.message-actions p{
    flex: 1 0 0;
}
